include variables.pug

mixin MenuItem(item)
  li.menu__item
    a(href= item.link)
      span.menu-text #{item.title}

mixin createSlidePicture(item)
  picture
    each viewport in Viewports
      source(media = '(max-width: '+ viewport +'px)' srcset='./images/' + item + viewport +'.jpg')
    img.image(src='./images/' + item + '.JPG' alt="image non-available")

mixin createSlides
  each item in SlideData
    .slide(id= item.prefix)
      .slide-content
        .caption
          .title #{item.title}
          .text
            p #{item.text}
          a.btn(href=item.link)
            span.btn-inner Więcej
      .image-container
        +createSlidePicture(item.prefix)

mixin createPagination
  .pagination
    each item in SlideData
      .item
        span.icon

mixin introText(item)
  .intro__square
        .intro__square--text
          h1 #{item.title}
          p #{item.text}
          a.btn.intro__btn(href='item.link')
              span.btn-inner Więcej
mixin introImage(item)
  .intro__square
        .intro__square--image
          picture
            each viewport in Viewports
              source(media = '(max-width: '+ viewport +'px)' srcset='./images/square/' + item + viewport +'.jpg')
            img.image(src='./images/square' + item + viewport + '.jpg' alt="image non-available")

mixin square(item)
  .intro__square
    .intro__square--image
      picture
        each viewport in Viewports
          source(media = '(max-width: '+ viewport +'px)' srcset='./images/square/' + item.prefix + viewport +'.jpg')
        img.image(src='./images/square/' + item.prefix + '1280' + '.jpg' alt="image non-available")
  .intro__square
    .intro__square--text
      h2 #{item.title}
      p #{item.text}
      a.btn.intro__btn(href = item.link)
          span.btn-inner Więcej
mixin page(item)
    .page(id = item.id)
      .page__header #{item.header}
      .page__column 
        .image--small
          img(src='./images/emblems/'+item.logo alt = item.logo)
        h3.page__subtitle #{item.sub}
        p.page__motto #{item.motto} 
        h3.page__subtitle.page__subtitle--chapteral #{item.sub1}
        .page__chapter #{item.chapter1}
      .page__column
        .image--large
          img(src='./images/page/'+ item.foto alt = item.foto)
        h3.page__subtitle.page__subtitle--chapteral #{item.sub2}
        .page__chapter #{item.chapter2}
    




doctype html
html(lang ='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='./styles/style.css')
    link(href="https://fonts.googleapis.com/css?family=Clicker+Script&display=swap&subset=latin-ext" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Lato:400,900&display=swap&subset=latin-ext' rel='stylesheet')
    title Document
  aside.hamburger
    img(src = './images/hamburger.svg' alt = 'hamburger')
  .header
    .header__image-area
      img.footer__icon(src='./images/phone.png' alt = 'phone logo')
      a.phone__text(href ='tel:+48668559123')
        span +48 668 559 123
    .header__image-area
      h1.logo Masaże Wiśniewska
    .header__image-area
      img.footer__icon(src='./images/location.png' alt= 'loaction logo')
      span Konia - Kowalskiego 27, 04-454 Warszawa
  .menu(id ="menu")
    span.logo.logo-left Masaże Wiśniewska
    ul#menuList
      each item in MenuItems
        +MenuItem(item)
  main.main-content
    section.slideshow(id='slides')
      .slideshow-inner
        .slides
          +createSlides
          +createPagination
        .arrows
          .arrow.prev
            span.svg.svg-arrow-left
              svg#svg4-Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='14px' height='26px' viewbox='0 0 14 26' enable-background='new 0 0 14 26' xml:space='preserve')
                path(d='M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z')
              span.alt.sr-only
          .arrow.next
            span.svg.svg-arrow-right
              svg#svg5-Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='14px' height='26px' viewbox='0 0 14 26' enable-background='new 0 0 14 26' xml:space='preserve')
                path(d='M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z')
              span.alt.sr-only
    section.intro(id = 'intro')
      each item in SquareData
        +square(item)
    section
      each item in Pages
        +page(item)
      .page(id ='kontakt')
        .page--kontakt-header
          h3.page__subtitle.page__subtitle--chapteral Kontakt z nami
        .page__column.page__column--adresal
          .adres
            p ul. Makolągwy 12
            p 08-911 Warszawa
            p +58 602 111 678
            p wisniewskamasaze@onet.pl
            br
            p Pon - pt 7:00 - 20:00
            p Sobota 10:00 - 14:00
        .page__column.page__column--adresal
          .adres
            form.adres__form(id = 'contact-form')
              input(type="text" name = 'name' id = 'name' placeholder= 'Imię i Nazwisko' required )
              input(type="email" name ='email' id='email' placeholder= 'adres email' required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" )
              select(name="Podaj temat" id ='subject' required)
                option(value="info") Informacje o usługach
                option(value="rezerwacja") Rezerwacja
                option(value='inne') Inne
              textarea(name = 'content' id = 'message' placeholder ='Wpisz treść wiadomości' required)
              button.btn.intro__btn.adres__btn(type="submit") 
                span.btn-inner Wyślij
              div.message
                div(id ="status_message")
  .footer
    div
      a.footer__link(href='#slides')
        img(src='./images/slideshowwhite.png' alt= 'slide show logo')
      a.footer__link(href='#intro')
          img(src='./images/intro.png' alt ='intro logo')
    span Copyright © All Rights Reserved Piotr Maksymiuk 2019
    div
      a.footer__link(href='#slides')
        img.footer__icon(src='./images/facebook.svg' alt ='facebook logo')
      a.footer__link(href='#intro')
          img.footer__icon(src='./images/instagram.svg' alt ='instagram logo')  
    
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js')
  script(src='./script.js')
  script(src='./myscript.js')
